.article {
    border: 1px solid #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 40vw;
    height: 15vh;
    margin: 5px 50px 5px 50px;
    transition: transform, 1s;
}

.article:hover {
    transform: scale(1.1, 1.1);
}

.article p {
    margin-left: 5px;
}

.article img {
    width: 100px;
}

.deux-colonnes-article {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.colonne-article {
    display: flex;
    flex-flow: column nowrap;
}

.contiens-article {
    display: flex;
}