#gallerie div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#gallerie img {
    margin: 10px;
    width: 300px;
    transition: transform, 1s;
}

#gallerie img:hover {
    transform: scale(1.2, 1.2);
}