html {
    scroll-behavior: smooth;
}

body {
    font-family: papyrus;
    color: rgb(180, 180, 180);
    background-color: rgb(0, 3, 37);
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgb(26, 26, 26);
    margin: 0;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////// acceuil*/
#acceuil {
    flex-flow: column;
    justify-content: space-around;
}