/*.mon_tableau {
    border-collapse: collapse;
    border: 1px solid #aaa;
}*/

.mon_tableau, td, th {
    border: 1px solid #aaa;
    padding: 5px;
    border-collapse: collapse;
}

#tableau caption {
    font-size: 2rem;
    margin: 20px;
}

td {
    padding: 10px;
}

table {
    border-collapse: collapse;
}